@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Text+Me+One&family=Trade+Winds&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  scroll-behavior: smooth;
}


body,
.contOutput,
.contentStored,
.sharebtns {
  overflow: hidden;
}

body,
.contOutput,
.contentStored,
.sharebtns {
  overflow-y: scroll;
  scrollbar-width: none;
}

body::-webkit-scrollbar,
.contOutput::-webkit-scrollbar,
.contentStored::-webkit-scrollbar .sharebtns::-webkit-scrollbar {
  display: none;
}

:root {
  --MbgImg: #121116;
  --zcol: #202126;
  --zcolor: white;
  --color2: #43454D;
  --color2_1: #202126;
  --pswF: #ddd;
}

::selection {
  color: var(--color2_1);
  background: var(--pswF);
}

body {
  min-height: 100svh;
  width: 100%;
  background: var(--MbgImg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding-top: 60px;
  overflow-x: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.menuTab {
  position: fixed;
  top: 15px;
  left: 10px;
  z-index: 400;
  width: 100%;
  max-width: 300px;
  height: calc(100% - 30px);
  background: var(--MbgImg);
  border: 2px solid var(--color2);
  border-radius: 20px;
  color: var(--pswF);
  padding: 10px 0px;
  transform: translateX(-150%);
  opacity: 0%;
  transition: all 700ms cubic-bezier(.47,1.64,.41,.8);
  box-shadow: inset 0px 0px 20px 0px var(--zcol), 5px 5px 5px 0px #000000a0;
}

.menuTab.active {
  transform: none;
  opacity: 100%;
}

.menuTab>.closeMenuTab {
  position: absolute;
  top: 20px;
  right: -17px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--pswF);
  background: var(--MbgImg);
  border: 2px solid var(--color2);
  border-radius: 10px;
}

.menuTab>.menuTabContent {
  width: 100%;
  height: 100%;
  border-radius: 0px 10px 10px 0px;
  overflow-y: scroll;
  overflow-x: hidden;
  border: none;
  background: none;
  padding: 20px;
}

.menuTab>.menuTabContent>h1 {}

.menuTab .ytsubscribe {
  padding: 5px 10px;
  background: #D7002A;
  color: white;
  border-radius: 100px;
  text-decoration: none;
  font-weight: bold;
}

.search_logo {
  width: 100%;
  min-height: 50px;
  padding: 5px;
  color: var(--zcolor);
  background: var(--zcol);
  box-shadow: 0px 5px 5px 0px #000000a0;
  position: fixed;
  top: 0px;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
  z-index: 300;
  overflow: hidden;
  opacity: 90%;
}

.search_logo>.logo {
  font-family: "Trade Winds" !important;
}

.search_logo>.menuicon {
  background: none;
  padding: 5px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  border: 0px solid white;
  margin-left: 10px;
  height: 30px;
  aspect-ratio: 1/1;

}

.search_logo>.menuicon>div {
  width: 100%;
  background: var(--zcolor);
  padding: 1px;
  margin: 2px 0px;
  border-radius: 20px;
  animation: flowMenu 1.4s ease-in-out calc(var(--i)*1.6s) infinite alternate;
}

@keyframes flowMenu {
  100% {
    width: 50%;
  }
}

.search_logo>.btnsearchS {
  position: relative;
  right: 0;
  top: 0;
  height: 100%;
  aspect-ratio: 1/1;
  background: none;
  border: none;
  font-size: 30px;
  margin-right: 15px;
  color: white;
}

.search_logo>.search {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: var(--zcol);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 20px;
  transition: all 0.5s ease;
  opacity: 0%;
  pointer-events: none;
}

.search_logo>.search.active {
  width: 100%;
  opacity: 100%;
  pointer-events: auto;
}

.search_logo>.search>#searchData {
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  outline: none;
  color: white;
  font-size: 20px;
}

#searchData::placeholder {
  color: #00000030;
}

.search_logo>.search>.oksearch {
  color: var(--zcolor);
  height: 100%;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: auto;
  aspect-ratio: 1/1;
  border-radius: 10px;
  font-weight: bold;
  font-size: 30px;
}

.contentStored {
  padding: 0px 12px;
  min-height: 100vh;
  width: 100%;
  margin-bottom: 10px;
  border: none;
}

.movieData {
  width: 100%;
  color: white;
  margin: 25px 0px;
  position: relative;
  box-shadow: 5px 5px 3px 0px #000000a0;
  border: 2px solid var(--color2);
  border-radius: 10px;
  overflow: hidden;
  opacity: 90%;
}

.movieData .movieHeading {
  font-weight: bold;
  font-size: 130%;
  background: var(--color2);
  padding: 5px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.movieData .movieHeading .moNam {
  display: block;
  border: none;
  width: 100%;
  font-family: "Ubuntu" !important;
  font-size: 20px;
  display: flex;
  color: var(--pswF);
}

.movieData .movieHeading .hastag {
  display: block;
  border: none;
  height: 100%;
  padding-right: 1px;
  font-family: "Ubuntu" !important;
}

.movieData .movieHeading .motrail {
  display: block;
  text-decoration: none;
  color: var(--color2);
  background: var(--pswF);
  padding: 0px 5px;
  border-radius: 5px;
  font-family: "Orbitron";
  font-size: 16px;
}

.movieData>.contInput {
  width: 100%;
  border: none;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  background: var(--color2_1)
}

.movieData>.contInput>i {
  color: var(--pswF);
  font-family: "Text Me One" !important;
  font-weight: 900;
  font-style: normal;
}

.movieData>.contInput>i:nth-child(1) {
  margin-bottom: 5px;
}

.movieData .passfield {
  display: flex;
  justify-content: center;
  align-items: center;
}

.movieData .passfield>input {
  border: none;
  border-radius: 10px;
  font-size: 20px;
  padding: 5px;
  outline: none;
  background: none;
  color: var(--pswF);
  width: 100%;
  border: 2px solid var(--color2);
}

.movieData .passfield>input::placeholder {
  color: var(--pswF);
}

.movieData .passfield>button {
  background: var(--color2);
  border: 2px solid var(--color2);
  font-weight: bold;
  color: var(--pswF);
  width: 20%;
  height: 100%;
  padding: 9px;
  border-radius: 10px;
  margin-left: 5px;
}

.movieData .orgetLink {
  width: auto;
  background: var(--color2);
  color: var(--pswF);
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  margin: 5px;
  font-family: "Orbitron" !important;
  transition: all 0.3s;
}

.movieData .orgetLink.if_wrong {
  animation: scalein 0.5s ease 1s 2 alternate;
}

@keyframes scalein {
  100% {
    box-shadow: inset 0px 0px 0px 2px gold;
  }
}

.movieData .orgetLink>.fa-youtube-play {
  font-size: 25px;
}

.movieData .contOutput {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color2_1);
  border: none;
  z-index: 5;
  display: none;
  flex-direction: column;
  overflow-y: scroll;
  padding: 5px;
}

.contOutput>a {
  text-decoration: none;
  color: white;
  background: var(--color2);
  border: none;
  border-radius: 10px 10px 10px 0px;
  margin: 2px;
  padding: 5px;
}

.contOutput.unlock {
  display: flex;
}

.subToChannel {
  background: var(--zcol);
  padding: 5px;
  border-radius: 100px;
  position: sticky;
  bottom: 5px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  opacity: 80%;
  box-shadow: 3px 3px 3px 0px #000000a0;
  border: 2px solid var(--color2);
}

.subToChannel>.logo {
  width: 35px;
  height: 35px;
  background: url('./logoELWnew.png'), linear-gradient(-45deg, black, black);
  background-position: center;
  background-size: cover;
  border-radius: 100%;
  border: 2px solid var(--color2);
}

.subToChannel>.nameChannel {
  margin: 0px 10px;
}

.subToChannel>.subBtn {
  text-decoration: none;
  color: white;
  background: var(--color2);
  border-radius: 100px;
  padding: 5px 10px;
  margin-right: 5px;
  border: 2px solid var(--color2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.subToChannel>.subBtn>i {
  font-size: 120%;
}

.subToChannel>.subBtn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 20%;
  background: #fff;
  height: 100%;
  width: 50%;
  z-index: -1;
  filter: blur(35px);
  -webkit-filter: blur(35px);
  -moz-filter: blur(35px);
  animation: glintSub 6s ease 0s infinite normal;
}

@keyframes glintSub {

  0%,
  60% {
    transform: translateX(-250%);
  }

  100% {
    transform: translateX(250%);
  }
}

.disclaimer {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  color: white;
  background: linear-gradient(0deg, var(--zcol) -20%, #00000000 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.disclaimer>b {
  margin: 5px;
  font-family: "Trade Winds";
}

.disclaimer>span {
  background: #ffffff10;
  padding: 5px 10px;
  border-radius: 10px;
}

.disclaimer>i {
  color: #ffffff90;
  margin-top: 5px;
}

.copyShareUrl {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: auto;
  height: auto;
  background: var(--color2);
  border-radius: 10px 0px 0px 0px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--pswF);
  overflow: hidden;
  border: 2px solid var(--color2);
  border-right: none;
  border-bottom: none;
}

.copyShareUrl::before {
  position: absolute;
  top: 0px;
  right: 0%;
  content: '\2713';
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--pswF);
  color: var(--color2);
  opacity: 0%;
  transition: opacity 1s;
}

.copyShareUrl.shared {
  pointer-events: none;
}

.copyShareUrl.shared::before {
  opacity: 100%;
  transition: opacity 0s;
}

.supportMeBar {
  position: fixed;
  background: var(--zcol);
  left: 10px;
  bottom: 10%;
  border: 1px solid var(--color2);
  border-radius: 10px;
  font-size: 17px;
  color: var(--pswF);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

.supportMeBar>.sharebtns {
  max-height: 100vh;
  transition: all 1s;
  overflow-y: scroll;
  padding: 3px 0px;
}

.supportMeBar>.sharebtns>span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background: var(--color2);
  border-radius: 7px;
  margin: 2px;
  transition: all 0.3s;
}

.supportMeBar>.sharebtns>span.oneLike {
  color: gold;
}

.supportMeBar.unshare>.sharebtns {
  max-height: 0px;
  padding: 0;
}

.supportMeBar.unshare>.sharebtns>span {
  height: 10px;
}

.supportMeBar.unshare>.sharebtns>span>i {
  color: #00000000;
}

.supportMeBar>.closeShareBTNS {
  background: var(--color2);
  border: none;
  width: 40px;
  aspect-ratio: 1/1;
  color: var(--pswF);
  border-radius: inherit;
  font-size: inherit;
  box-shadow: inset 0px 0px 0px 2px var(--MbgImg);
  position: relative;
  overflow:hidden;
}

.supportMeBar>.closeShareBTNS>.closeShareBTNSTagI {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: inherit;
  box-shadow: inset 0px 0px 0px 2px var(--MbgImg);
  opacity:100%;
  transition: all 200ms;
  border-radius: inherit;
  font-size: 120%;
}
.supportMeBar.unshare>.closeShareBTNS>.closeShareBTNSTagI {
  opacity: 0%;
}