@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Text+Me+One&family=Trade+Winds&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body,
.contOutput,
.contentStored {
  overflow: hidden;
}

body,
.contOutput,
.contentStored {
  overflow-y: scroll;
  scrollbar-width: none;
}

body::-webkit-scrollbar,
.contOutput::-webkit-scrollbar,
.contentStored::-webkit-scrollbar {
  display: none;
}

:root {
  --MbgImg: #051F30 url('./pixelcutBG.jpeg');
  --zcol: #09314E;
  --zcolor: white;
  --color2: #0B8DA1;
  --color2_1: #055170;
  --pswF: white;
}

::selection {
  color: var(--color2_1);
  background: var(--pswF);
}

body {
  min-height: 100svh;
  width: 100%;
  background: var(--MbgImg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding-top: 60px;
  overflow-x: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.search_logo {
  width: 100%;
  min-height: 50px;
  padding: 5px;
  color: var(--zcolor);
  background: var(--zcol);
  box-shadow: 0px 5px 5px 0px #000000a0;
  position: fixed;
  top: 0px;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  z-index: 99999;
  overflow: hidden;
  opacity: 80%;
}

.search_logo>.logo {
  font-family: "Trade Winds" !important;
}

.search_logo>.btnsearchS {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  aspect-ratio: 1/1;
  background: none;
  border: none;
  font-size: 30px;
  margin-right: 10px;
  color: white;
}

.search_logo>.search {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: var(--zcol);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 20px;
  transition: all 0.7s ease;
  opacity: 0%;
  pointer-events: none;
}

.search_logo>.search.active {
  width: 100%;
  opacity: 100%;
  pointer-events: auto;
}

.search_logo>.search>#searchData {
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  outline: none;
  color: white;
  font-size: 20px;
}

#searchData::placeholder {
  color: #00000030;
}

.search_logo>.search>.oksearch {
  color: var(--zcolor);
  height: 100%;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: auto;
  aspect-ratio: 1/1;
  border-radius: 10px;
  font-weight: bold;
  font-size: 30px;
}

.contentStored {
  padding: 0px 12px;
  min-height: 100vh;
  width: 100%;
  margin-bottom: 10px;
  border: none;
}

.movieData {
  width: 100%;
  color: white;
  margin: 25px 0px;
  position: relative;
  box-shadow: 5px 5px 3px 0px #000000a0;
  border: 2px solid var(--color2);
  border-radius: 10px;
  overflow: hidden;
  opacity: 90%;
}

.movieData .movieHeading {
  font-weight: bold;
  font-size: 130%;
  background: var(--color2);
  padding: 5px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.movieData .movieHeading .moNam {
  display: block;
  border: none;
  width: 100%;
  font-family: "Ubuntu" !important;
  font-size: 20px;
  display: flex;
}

.movieData .movieHeading .hastag {
  display: block;
  border: none;
  height: 100%;
  padding-right: 1px;
  font-family: "Ubuntu" !important;
}

.movieData .movieHeading .motrail {
  display: block;
  text-decoration: none;
  color: var(--color2);
  background: var(--pswF);
  padding: 0px 5px;
  border-radius: 5px;
  font-family: "Orbitron";
  font-size: 16px;
}

.movieData>.contInput {
  width: 100%;
  border: none;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  background: var(--color2_1)
}

.movieData>.contInput>i {
  color: var(--pswF);
  font-family: "Text Me One" !important;
  font-weight: 900;
  font-style: normal;
}

.movieData .passfield {
  display: flex;
  justify-content: center;
  align-items: center;
}

.movieData .passfield>input {
  margin-top: 5px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  padding: 5px;
  outline: none;
  background: none;
  color: var(--pswF);
  width: 100%;
  border: 2px solid var(--color2);
}

.movieData .passfield>input::placeholder {
  color: var(--pswF);
}

.movieData .passfield>button {
  background: var(--color2);
  border: 2px solid var(--color2);
  font-weight: bold;
  color: var(--pswF);
  width: 20%;
  height: 100%;
  padding: 9px;
  border-radius: 10px;
  margin-left: 5px;
}

.movieData .orgetLink {
  width: auto;
  background: var(--color2);
  color: var(--pswF);
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  margin: 5px;
  font-family: "Orbitron" !important;
}

.movieData .orgetLink>.fa-youtube-play {
  font-size: 25px;
}

.movieData .contOutput {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color2_1);
  border: none;
  z-index: 5;
  display: none;
  flex-direction: column;
  overflow-y: scroll;
  padding: 5px;
}

.contOutput>a {
  text-decoration: none;
  color: white;
  background: var(--color2);
  border: none;
  border-radius: 10px 10px 10px 0px;
  margin: 2px;
  padding: 5px;
}

.contOutput.unlock {
  display: flex;
}

.subToChannel {
  background: var(--zcol);
  padding: 5px;
  border-radius: 100px;
  position: sticky;
  bottom: 5px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  opacity: 80%;
  box-shadow: 3px 3px 3px 0px #000000a0;
  border: 2px solid var(--color2);
}

.subToChannel>.logo {
  width: 40px;
  height: 40px;
  background: url('./logoELW.png'), linear-gradient(-45deg, black, #888);
  background-position: center;
  background-size: cover;
  border-radius: 100%;
  border: 2px solid var(--color2);
}

.subToChannel>.nameChannel {
  margin: 0px 10px;
}

.subToChannel>.subBtn {
  text-decoration: none;
  color: white;
  background: var(--color2);
  border-radius: 100px;
  padding: 5px 10px;
  margin-right: 5px;
  border: 2px solid var(--color2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.subToChannel>.subBtn>i {
  font-size: 120%;
}

.subToChannel>.subBtn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 20%;
  background: #fff;
  height: 100%;
  width: 50%;
  z-index: -1;
  filter: blur(35px);
  -webkit-filter: blur(35px);
  -moz-filter: blur(35px);
  animation: glintSub 4s ease 0s infinite normal;
}

@keyframes glintSub {

  0%,
  60% {
    transform: translateX(-250%);
  }

  100% {
    transform: translateX(250%);
  }
}

.disclaimer {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  color: white;
  background: linear-gradient(0deg, var(--zcol) 0%, #00000000 80%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.disclaimer>b {
  margin: 5px;
  font-family: "Trade Winds";
}

.disclaimer>span {
  background: #ffffff20;
  padding: 5px;
  border-radius: 5px;
}

.disclaimer>i {
  color: #ffffff90;
  margin-top: 5px;
}