@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Text+Me+One&family=Trade+Winds&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --BG: #000;
}

body {
  width: 100%;
  background: white;
  overflow-x: hidden;
}

nav {
  background: var(--BG);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 20px;
  font-size: 22px;
}

nav>.title {
  color: inherit;
  letter-spacing: 4px;
  font-family: "Orbitron";
}

nav>.menubtn {
  color: inherit;
  background: none;
  border: none;
  font-size: inherit;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav>.menubtn>.closeit {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--BG);
  box-shadow: 0px 0px 0px 3px var(--BG);
  color: white;
  opacity: 0;
  font-size: inherit;
  transition: all 300ms;
  font-family: "Orbitron";
}

nav>.menubtn.on>.closeit {
  opacity: 100%;
}

#menu_box {
  width: 100%;
  background: var(--BG);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0px 30px;
  overflow: hidden;
  max-height: 0px;
  transition: all 800ms ease-in-out, padding 1000ms;
  pointer-events: none;
}

#menu_box.show {
  max-height: 600px;
  padding: 10px 30px;
  pointer-events: auto;
}

#menu_box>a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 10px;
  width: 100%;
  margin: 2px 0px;
  background: none;
  font-weight: bold;
}

#coming_soon {
  width: 100%;
  background: var(--BG);
  aspect-ratio: 100/60;
  border: none;
  position: relative;
  display: flex;
  align-items: center;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#coming_soon::-webkit-scrollbar {
  display: none;
  opacity: 0;
}

#coming_soon::before {
  position: absolute;
  content: "Coming Soon!";
  top: 0;
  left: 0;
  color: #ffffff50;
  font-size: 2em;
  font-weight: bold;
  background: none;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#coming_soon>img {
  width: 100%;
  height: 100%;
  position: relative;
  border: none;
  display: block;
  flex-shrink: 0;
  scroll-snap-align: center;
  scroll-snap-stop: always;
}

img::before {
  position: absolute;
  content: 'image not available!';
  width: 100%;
  height: 100%;
  padding: 5px;
  color: #ffffff50;
  background: var(--BG);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
}

.search_content {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--BG);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
}

.search_content>div {
  background: none;
  height: 50px;
  width: 95%;
  max-width: 800px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search_content>div>input {
  height: 100%;
  width: 100%;
  padding: 0px 5px;
  color: var(--BG);
  font-size: 20px;
  background: white;
  border: none;
  outline: none
}

.search_content>div>input::placeholder {
  font-variant: small-caps;
  color: var(--BG);
  transition: all 500ms;
}

.search_content>div>input:focus::placeholder {
  opacity: 20%;
  letter-spacing: 8px;
}

.search_content>div>button {
  height: 100%;
  aspect-ratio: 1/1;
  border: 2px solid white;
  background: var(--BG);
  color: white;
}

footer {
  width: 100%;
  padding: 10px;
  background: var(--BG);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
}

footer>.footerLogo {
  font-family: "Orbitron";
  margin: 5px 0px;
}

footer>hr {
  width: 80%;
  background: #ffffff30;
  height: 1px;
  border: none;
  margin: 5px 0px;
}

footer>.share {
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: center;
}

footer>.context {
  font-family: "Text Me One";
  width: 80%;
  padding: 10px 5px;
}

footer>.share>a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  aspect-ratio: 1/1;
  font-size: 1.2em;
  margin: 20px;
}

.totalMovies {
  width: 100%;
  padding: 10px;
  font-variant: small-caps;
  margin-top: 10px;
  font-weight: bold;
  color: var(-BG);
}

#contentBox {
  width: 100%;
  min-height: 100svh;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
}

.content {
  width: 100%;
  padding: 10px;
  background: #fff;
  margin-bottom: 20px;
  border-bottom: 2px solid #00000030;
}

.dataBox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.dataBox>img {
  width: 250px;
  height: 250px;
  -o-object-fit: contain;
  object-fit: contain;
  margin: 10px;
}

.links {
  margin-top: 10px;
  width: 100%;
  height: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3px;
}

.links>button {
  height: 100%;
  width: 100%;
  background: var(--BG);
  border: none;
  color: white;
  font-size: 18px;
}

.calimax {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: white;
  font-weight: bold;
  padding: 5px;
  background: linear-gradient(90deg, transparent 10%, var(--BG), transparent 90%);
}